<div class="min-h-screen relative overflow-hidden">
  <%= image_tag "ame.jpg", class: "w-full h-full object-cover md:w-full md:h-auto absolute"%>
  <%= image_tag "ame2.jpg", class: "hidden w-full h-full object-cover md:w-full md:h-auto absolute"%>
  <%= image_tag "ame3.jpg", class: "hidden w-full h-full object-cover md:w-full md:h-auto absolute"%>
  
  <div class="font-umbrella m-8 text-4xl text-white tracking-widest backdrop-blur [writing-mode:vertical-rl] [line-height:3rem] md:[line-height:7rem] absolute right-0 md:text-7xl">
  あの日消えた<br>
  <span class="pt-6 md:pt-8">傘の行方を</span><br><span class="pt-8 md:pt-10">僕達はまだ</span><br><span class="pt-6">　知らない。</span>
</div>

  <%= render @umbrellas %>
  <%= link_to '新規作成', new_stolen_umbrella_umbrella_path, class: 'button' %>
</div>