<div class="font-umbrella min-h-screen relative overflow-hidden">
  <video autoplay muted loop src="<%= cookies[:video_url] %>" type="video/mp4" id="myVideo" class="brightness-75 md:block w-full h-full object-cover md:w-full md:h-auto absolute">
  </video>
  <div class="z-50 mt-10 mr-2 md:mt-8 md:mr-8 text-4xl text-blue-100 tracking-widest vertical [line-height:3rem] md:[line-height:6rem] absolute right-0 md:text-7xl">
    あの日見た<br>傘の行方を<br>僕達はまだ<br><span class="pt-8 md:pt-12">知らない。</span>
  </div>
  <div class="z-10 absolute right-12 top-6 md:right-28 md:top-0 md:text-7xl text-4xl text-blue-400 transform rotate-45">
    <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 576 512" fill="currentColor">
        <path d="M288 0c17.7 0 32 14.3 32 32V49.7C451.8 63.4 557.7 161 573.9 285.9c2 15.6-17.3 24.4-27.8 12.7C532.1 283 504.8 272 480 272c-38.7 0-71 27.5-78.4 64.1c-1.7 8.7-8.7 15.9-17.6 15.9s-15.8-7.2-17.6-15.9C359 299.5 326.7 272 288 272s-71 27.5-78.4 64.1c-1.7 8.7-8.7 15.9-17.6 15.9s-15.8-7.2-17.6-15.9C167 299.5 134.7 272 96 272c-24.8 0-52.1 11-66.1 26.7C19.4 310.4 .1 301.5 2.1 285.9C18.3 161 124.2 63.4 256 49.7V32c0-17.7 14.3-32 32-32zm0 304c12.3 0 23.5 4.6 32 12.2V430.6c0 45-36.5 81.4-81.4 81.4c-30.8 0-59-17.4-72.8-45l-2.3-4.7c-7.9-15.8-1.5-35 14.3-42.9s35-1.5 42.9 14.3l2.3 4.7c3 5.9 9 9.6 15.6 9.6c9.6 0 17.4-7.8 17.4-17.4V316.2c8.5-7.6 19.7-12.2 32-12.2z"/>
    </svg>
  </div>
  <div class="mb-40 absolute inset-x-0 md:right-0 bottom-20 flex justify-center">
    <label for="my-modal-0" class="z-50 btn btn-neutral">盗まれた傘との思い出を綴る</label>
  </div>
  <div class="overflow-hidden">
    <%= render @umbrellas %>
  </div>
</div>

<input type="checkbox" id="my-modal-0" class="modal-toggle" />
<label for="my-modal-0" class="modal cursor-pointer">
  <label class="modal-box relative" for="">
    <label for="my-modal-0" class="btn btn-sm btn-circle absolute right-2 top-2">✕</label>
    <div class="text-xl m-2 mb-4 border-b border-gray-500">盗まれた傘との思い出を綴る</div>
    <div id="error_messages"></div>
    <%= form_with model: [:stolen_umbrella, @umbrella], local: true do |f| %>
      <div>
        <%= f.text_area :memory, class: "textarea textarea-info w-full h-40" %>
      </div>
      <div>
        <%= f.submit '投稿する' %>
      </div>
    <% end %>
  </label>
</label>

<script>
document.addEventListener('turbo:load', function() {
  let memories = document.querySelectorAll('.memory');
  memories.forEach(memory => {
    memory.style.top = Math.random() * window.innerHeight + 'px';
    memory.style.left = Math.random() * window.innerWidth + 'px';
    let animationDuration = Math.random() * 10 + 3;
    memory.style.animationDuration = animationDuration + 's';
  });
});
</script>

