<%= form_with model: [:stolen_umbrella, @umbrella], local: true do |f| %>
  <div>
    <%= f.label :title, 'タイトル' %><br>
    <%= f.text_field :title %>
  </div>

  <div>
    <%= f.label :memory, '傘との思い出' %><br>
    <%= f.text_area :memory %>
  </div>

  <div>
    <%= f.label :stolen_place, '盗まれた場所' %><br>
    <%= f.text_field :stolen_place %>
  </div>

  <div>
    <%= f.submit '作成する' %>
  </div>
<% end %>
