<div class="min-h-screen">
  <%= form_with(url: aespa_songs_path, method: "get") do |f| %>
      <label class="swap swap-flip text-9xl">
        <%= f.check_box :cool, {}, "cool", nil %>
        <div class="swap-on">ðŸ˜ˆ</div>
        <div class="swap-off">ðŸ˜‡</div>
      </label>
      <label class="swap swap-flip text-9xl">
        <%= f.check_box :mv, {}, "mv", nil %>
        <div class="swap-on">ðŸ˜ˆ</div>
        <div class="swap-off">ðŸ˜‡</div>
      </label>
      <label class="swap swap-flip text-9xl">
        <%= f.check_box :cute, {}, "cute", nil %>
        <div class="swap-on">ðŸ˜ˆ</div>
        <div class="swap-off">ðŸ˜‡</div>
      </label>
      <label class="swap swap-flip text-9xl">
        <%= f.check_box :mysterious, {}, "mysterious", nil %>
        <div class="swap-on">ðŸ˜ˆ</div>
        <div class="swap-off">ðŸ˜‡</div>
      </label>
      <label class="swap swap-flip text-9xl">
        <%= f.check_box :upbeat, {}, "upbeat", nil %>
        <div class="swap-on">ðŸ˜ˆ</div>
        <div class="swap-off">ðŸ˜‡</div>
      </label>
      <label class="swap swap-flip text-9xl">
        <%= f.check_box :melancholic, {}, "melancholic", nil %>
        <div class="swap-on">ðŸ˜ˆ</div>
        <div class="swap-off">ðŸ˜‡</div>
      </label>
      <label class="swap swap-flip text-9xl">
        <%= f.check_box :sexy, {}, "sexy", nil %>
        <div class="swap-on">ðŸ˜ˆ</div>
        <div class="swap-off">ðŸ˜‡</div>
      </label>
      <label class="swap swap-flip text-9xl">
        <%= f.check_box :fashionable, {}, "fashionable", nil %>
        <div class="swap-on">ðŸ˜ˆ</div>
        <div class="swap-off">ðŸ˜‡</div>
      </label>
      <label class="swap swap-flip text-9xl">
        <%= f.check_box :cover_song, {}, "cover_song", nil %>
        <div class="swap-on">ðŸ˜ˆ</div>
        <div class="swap-off">ðŸ˜‡</div>
      </label>
      <%= f.submit "æŽ¢ã™", class: 'btn btn-secondary' %>
    </div>
  <% end %>
</div>