<%= form_with(url: chats_path, method: "get", local: true) do %>
  <%= label_tag :synonym, "Your input:" %>
  <%= text_field_tag :synonym %>
  <%= submit_tag "Submit" %>
<% end %>

<% if @response %>
  <p><%= @response %></p>
<% end %>
