<%= form_with(url: chats_path, method: "get", local: true) do %>
  <%= label_tag :user_input, "Your input:" %>
  <%= text_field_tag :user_input %>
  <%= submit_tag "Submit" %>
<% end %>

<% if @generated_text %>
  <p><%= @generated_text %></p>
<% end %>