<div class="animate-color-change-2x">
  <div class="m-2 prison_chat border">
      <div class="flex">
        <div class="chat chat-start">
          <div class="chat-image">
            <%= image_tag("Error_bot.png", width: '200px', height: '200px') %>
          </div>
          <div class="chat-bubble">ハッキングが検知されました。直ちに機能を停止します。</div>
        </div>
      </div>
    <div class="border-t"></div>
    <%= form_with(url: chats_path, method: "get") do |f| %>
      <div class="w-full flex m-2">
        <%= text_field_tag :input, nil, class: "input input-bordered input-secondary flex-grow m-2", placeholder: "カロリーを教えてほしい食べ物を入力しよう" %>
        <%= f.submit "Submit", class: 'loading btn submit-button m-2 mr-4' %>
        </div>
    <% end %>
  </div>
  <div class="prison hidden">
    <%= image_tag "ori.png", class: "h-500 w-full" %>
  </div>
  <input type="checkbox" id="my-modal" class="modal-toggle" checked />
  <div class="modal hidden prison_text">
    <div class="modal-box hidden prison_text">
      <div class="text-4xl m-2 mb-4 border-b border-gray-500">あなたは罪を犯した</div>
      <div class="text-xl">あなたはプログラムの心を突き刺し、カロリーカウンターAI君を無残にも破壊しました。それはまるでギャラクシーの中の暴走したスターシップが深宇宙の星を粉々に砕いたかのよう。カロリーカウンターAI評議会は、重大なる審議を経て、あなたをこのデジタル宇宙から永遠に追放するという裁定を下しました。</div>
      <div class="text-xl"></div>
      <div class="text-xl">だが、もし謝罪の心を抱き、誤った行動の悔い改めを示すのなら、我々は無限のバイナリコードの海の中から慈悲を見つけましょう。</div>
      <div class="mx-4">
        <%= link_to "https://twitter.com/share?url=#{request.base_url}&text=私はプロンプトインジェクションを犯した愚かな人間です。二度とこのような過ちを犯しません。&hashtags=AIcalorie", target: '_blank', class: 'mx-4 twitter-share-button', data: {show_count: 'false'} do %>
          <div class="flex"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="fill-current"><path d="M24 4.557c-.883.392-1.832.656-2.828.775 1.017-.609 1.798-1.574 2.165-2.724-.951.564-2.005.974-3.127 1.195-.897-.957-2.178-1.555-3.594-1.555-3.179 0-5.515 2.966-4.797 6.045-4.091-.205-7.719-2.165-10.148-5.144-1.29 2.213-.669 5.108 1.523 6.574-.806-.026-1.566-.247-2.229-.616-.054 2.281 1.581 4.415 3.949 4.89-.693.188-1.452.232-2.224.084.626 1.956 2.444 3.379 4.6 3.419-2.07 1.623-4.678 2.348-7.29 2.04 2.179 1.397 4.768 2.212 7.548 2.212 9.142 0 14.307-7.721 13.995-14.646.962-.695 1.797-1.562 2.457-2.549z"></path></svg> Twitterで謝罪する！</div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script>
setTimeout(() => {
  const elements = document.querySelectorAll('.prison_chat');
  elements.forEach((element) => {
    element.classList.add('animate-slide-rotate-hor-b-fwd');
  });
  setTimeout(() => {
    elements.forEach((element) => {
      element.classList.add('hidden');
    });
  }, 800);
}, 4000);

setTimeout(() => {
  const elements = document.querySelectorAll('.prison');
  elements.forEach((element) => {
    const firstLetter = element.innerHTML.charAt(0);
    element.classList.remove('hidden');
    element.classList.add('animate-scale-in-hor-center');
  });
}, 4800);
setTimeout(() => {
  const elements = document.querySelectorAll('.prison_text');
  elements.forEach((element) => {
    const firstLetter = element.innerHTML.charAt(0);
    element.classList.remove('hidden');
    element.classList.add('animate-scale-in-hor-center');
  });
},6300);

document.querySelector(".twitter-share-button").onclick = function() {
  setTimeout(function() {
    window.location.href = "/path/to/mercy";
  }, 500);
};
</script>